$purple-color: #550667;
$dark-color: #1F2021;
$font-color: #F6F4EE;
$green-color: #2F8E70;
$red-dot: #ff5f57;
$orange-dot: #F5BF4F;
$gree-dot: #61C554;
$link-color: #00F2EA;

$tablet-resolution: 768px;
$desktop-resolution: 1440px;